<html>
    <body>
        <form method="POST" target="/admin">
            <input type="text" name="login"><br/>
            <input type="password" name="password"><br/>
            <input type="submit">
        </form>
    </bod>
</html>
