{% extends "layout/admin.jinja2" %}

{% block main %}
    <div class="column" data-controller="item-editor" data-target-url="{{ target_url }}">
        <div id="error"></div>
        <div id="editor">{{ raw_doc }}</div>
        <button data-action="item-editor#save">Save</button>
    </div>
</div>
{% endblock %}
