{% extends "layout/base.jinja2" %}

{% block bundle %}
<script src="{{ bundle.search }}"></script>
{% endblock %}


{% block body %}
    <div class="container">
        <main class="columns is-centered">
            <div class="container column is-two-fifths-desktop">
                <div class="box">
                Impressum

                bla bla demo
                </div>
            </div>
        </main>
    </div>
{% endblock %}
