{% extends "layout/admin.jinja2" %}

{% block main %}
<div class="column" data-controller="item-editor" data-target-url="/{{entity_type}}s" data-details-url="/{{entity_type}}" data-entity-type="{{ entity_type}}">
    <div>
        <div id="error"></div>
        <div id="editor">{{ raw_doc }}</div>
        <button data-action="item-editor#create">Save</button>
    </div>
</div>
{% endblock %}
