{% extends "layout/admin.jinja2" %}
{% from "layout/yesno_dialog.jinja2" import yesno_dialog %}

{% block main %}
<div class="column is-6">
    <div>
    <a href="/groups/new" class="button is-pulled-right"><i class="far fa-plus-square fa-lg"></i><span> Add group</span></a>
    </div>
    <table class="table is-striped is-narrow is-fullwidth" data-controller="delete">
        <thead>
            <th style="width:100%">Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for i in items %}
                <tr>
                <td>
                {% if i.data.icon %}
                <p class="icon has-text-grey">
                    <i class="far fa-{{i.data.icon}}"></i>
                </p>
                {% endif %}
                {{i.data.name}}</td>
                <td>
                <a href="/group/{{ i.id }}/edit"><span class="icon has-text-grey"><i class="far fa-edit"></i></span></a>
                </td>
                <td>
                {% if not i.child_group_count and not i.child_doc_count %}
                    <div data-item-url="/group/{{ i.id }}" data-action="click->delete#ask"><span class="icon has-text-danger"><i class="far fa-trash-alt"></i></span></div>
                {% else %}
                    <span class="icon has-text-grey-lighter"><i class="far fa-trash-alt"></i></span>
                {% endif %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ yesno_dialog("tag") }}
{% endblock %}
