{% extends "layout/admin.jinja2" %}
{% from "layout/yesno_dialog.jinja2" import yesno_dialog %}

{% macro render_group(group, parent) %}
    <div class="node">
    <span data-group-id="{{group.id}}"
    {%- if parent -%} data-parent-id="{{parent.id}}" {%- endif -%} class="tag is-medium">

    {% if group.data.icon %}
    <span class="icon has-text-grey">
    <i class="{{group | icon_classes}}"></i>
    </span>
    {% endif %}
    <span>{{group.data.name}}</span>
    </span>
    <a href="/group/{{ group.id }}/edit"><span class="icon has-text-grey"><i class="far fa-edit"></i></span></a>

                {% if not group.child_group_count and not group.child_doc_count %}
                    <span data-item-url="/group/{{ group.id }}" data-action="click->delete#ask" class="icon has-text-danger"><i class="far fa-trash-alt"></i></span>
                {% else %}
                    <span class="icon has-text-grey-lighter"><i class="far fa-trash-alt"></i></span>
                {% endif %}




    <div class="children" style="padding-left: 20pt">
        {% for c in group._children %}
        {{ render_group(c, group) }}
        {% endfor %}
    </div>
    </div>
{% endmacro %}

{% block main %}
<div class="content column is-6" data-url="/groups/tree" data-controller="delete edit-tree">
    <a href="/groups/new" class="button is-pulled-right"><i class="far fa-plus-square fa-lg"></i><span> Add group</span></a>
{% for group in tree %}
    {{ render_group(group, None) }}
{% endfor %}
</div>
{{ yesno_dialog("tag") }}
{% endblock %}
