body {
    background-image: url("./background.jpg");
    background-color: #fff;
    min-height: 100vh;
}

html {
    background-color: #d0e0f0;
    scroll-behavior: smooth;
}

main, .search-result {
    margin-bottom: 10px;
}

.documents {
    list-style: none;
}

.document {
    margin-bottom: 2rem;
}
