{% extends "layout/admin.jinja2" %}
{% from "layout/yesno_dialog.jinja2" import yesno_dialog %}

{% block main %}
<div class="column is-6">
    <div>
    <a href="/docs/new" class="button is-pulled-right"><i class="far fa-plus-square fa-lg"></i><span> Add doc</span></a>
    </div>
    <table data-controller="delete" class="table is-striped is-narrow is-fullwidth">
        <thead>
            <th style="width:100%">Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for i in items %}
                <tr>
                <td>{{i.name}}</td>
                <td>
                <a href="/doc/{{ i.id }}/edit"><span class="icon has-text-grey"><i class="far fa-edit"></i></span></a>
                </td>
                <td>
                <div data-item-url="/doc/{{i.id}}" data-action="click->delete#ask"><span class="icon has-text-danger"><i class="far fa-trash-alt"></i></span></div>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ yesno_dialog("document") }}
{% endblock %}
