{% extends "layout/admin.jinja2" %}

{% macro render_tag(tag, parents) %}
    <div class="node">
    {% if tag.id in parents %}
        <span data-tag-id="{{tag.id}}" data-is-active="true" data-action="click->doc-tags#toggle" class="tag is-medium is-success">{{tag.data.name}}</span>
    {% else %}
        <span data-tag-id="{{tag.id}}" data-action="click->doc-tags#toggle" class="tag is-medium is-light">{{tag.data.name}}</span>
    {% endif %}


    <div class="children" style="padding-left: 20pt">
        {% for c in tag._children %}
        {{ render_tag(c, parents) }}
        {% endfor %}
    </div>
    </div>
{% endmacro %}

{% block main %}
<div class="content column is-6" data-url="/doc/{{doc.id}}/parents" data-controller="doc-tags">
{% for tag in tree %}
    {{ render_tag(tag, doc.parents) }}
{% endfor %}
</div>
{% endblock %}
