{% extends "layout/base.jinja2" %}
{% import "search/actions.jinja2" as actions %}

{% macro render_open(doc) %}
{% if doc.data.open_status %}
<table class="table is-narrow is-striped">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Zeiten</th>
        </tr>
    </thead>
    <tbody>
        {% for day, times in doc.data.open_status.time_table() %}
        <tr>
            <td>{{day}}</td>
            <td>
            {% for start, end in times %}
                {{ as_time(start) }}-{{ as_time(end) }}
                {%- if not loop.last %}, {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endmacro %}


{% macro render_position() %}
    <div class="box">
        {% if tree_position.at_top%}
            Willkommen bei wir.brauchen-uns.de bla bla Begrüßung mit <a href="/about">Link zu Details
            zum Project</a>
        {% else %}
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ul>
                    <li>
                        <a href="/search/" class="">
                            <span class="icon is-medium">
                                 <i class="far fa-home"></i>
                            </span>
                        </a>
                    </li>
                    {% for pos, g in tree_position.breadcrumbs %}
                    <li><a href="/search/{{ pos }}">{{ g.data.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
    {% if children %}
        <div class="box">
        {% if not tree_position.at_top%}
            <div class="has-text-centered is-size-5 has-text-weight-semibold">{{ tree_position.groups[-1].data.description }}</div>
        {% endif %}

        {% if children|length > 0 %}
        <nav>
            {% for c in children %}
                    <a class="is-outlined button is-medium is-fullwidth" href="/search/{{position.down(c.id)}}">
                        {% if c.data.icon %}
                            <span class="icon has-text-black">
                            <i class="{{ c | icon_classes }}"></i>
                            </span>
                        {% endif %}
                        <span>{{ c.data.name }}</span>
                    </a>
            {% endfor %}
        </nav>
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro doc_name(d) %}
    <div>
        {% if d.data.icon %}
            <span class="icon is-medium">
                <i class="fa-lg {{d | icon_classes}}"></i>
            </span>
        {% endif %}
        <h3 class="is-size-6 has-text-weight-bold">
            {{ d.data.name }}
        </h3>
    </div>
{% endmacro %}


{% macro as_time(t) %}{{"%02d"|format(t[0])}}:{{"%02d"|format(t[1])}}{% endmacro %}

{% macro open_status(d) %}
    <div>
    {% if d.data.open_status %}
        {% set status = d.data.open_status %}
        {% if status.is_open %}
            <div class="has-text-success">
            Schließt um {{as_time(status.closes_at[1])}}
            </div>
        {% elif status.opens_today %}
            <div class="has-text-danger">
            Öffnet um {{as_time(status.opens_at[1])}}
            </div>
        {% else %}
            <div class="has-text-danger">
            Öffnet am {{ status.next_open_day }} um {{as_time(status.opens_at[1])}}
            </div>
        {% endif %}
    {% endif %}
    </div>
{% endmacro %}


{% macro render_tags(d) %}
    {% if d.data.tags %}
    <div class="tags is-rounded">
        {% for t in d.data.tags %}
            <span class="tag">{{ t }}</span>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{#
 # Generate a script tag with proper JSONLD
 # to get crawled by Google for more metadata
 # about the organization.
 # 
 #}
{% macro doc_jsonld(d) %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{d.data.name}}",
      "telephone": "{{d.data.phone}}"
    }
    </script>
{% endmacro %}

{% macro render_actions(d, active_actions) %}
    <div class="field has-addons is-pulled-right">
        {% for a in active_actions %} 
        <p class="control">
            {{ actions[a + "_action"](d) }}
        </p>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_doc(d, active_actions) %}
{{doc_jsonld(d)}}
<article class="box search-result">
    <aside class="is-pulled-right">
        <ul class="field has-addons">    
            {% for a in active_actions %}
                <li class="control">
                    {{ actions[a + "_action"](d) }}
                </li>
            {% endfor %}
        </ul>
    </aside>
    <section>
        {{doc_name(d)}}
        {{ render_tags(d) }}
        {{ open_status(d) }}
    </section>
    
</article>
{% endmacro %}

{% block bundle %}
<script src="{{ bundle.search }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns is-centered">
            <div class="container column is-two-fifths-desktop">
                <header class="hero is-bold">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title is-1" class="title">
                                Wir brauchen uns
                            </h1>
                        </div>
                    </div>
                </header>
                <main>
                {{ render_position() }}
                {% if docs|length > 0 %}
                <ol class="documents">
                    {% for d in docs %}
                        <li>{{ render_doc(d, active_actions) }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
                </main>
                <footer class="box has-text-centered">
                    <nav>
                    {% if not position.at_top %}
                        <a href="/search/{{position.up()}}" aria-label="Zurück zur Hauptkategorie" title="Zurück zur Hauptkategorie">
                            <i class="fas fa-arrow-left"></i>                            
                        </a> |
                    {% endif %}
                        <a href="/about">Über</a> |
                        <a href="/admin">Admin</a> |
                        <a href="/impressum">Impressum</a> |
                    {% if not position.at_top %}
                        <a href="#top" aria-label="Scroll to the top" title="Scroll to the top">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    {% endif %}
                    </nav>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
