<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default('Wir brauchen uns') }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/ace.js"></script>
    <script src="https://kit.fontawesome.com/8592ad0f72.js" data-mutate-approach="sync" crossorigin="anonymous"></script>
    {% block bundle %}{% endblock %}
    <style>
    span > i {
        pointer-events: none;
    } 

    </style>
    {% block head%}
    {% endblock %}
  </head>
  <body class="has-navbar-fixed-bottom">
    {% block header %}
    {% endblock %}
    <section class="section">
    {% block body %}
    {% endblock %}
    </section>
    <script src="https://cdn.usefathom.com/3.js" site="FXPAKMKV"></script>
    </body>
</html>
